img{
	width: 30%;
	float: left;
	margin: 1.66%
}

p{
	font-family: 'Shrikhand';
	font-size: 50px;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 15;
	padding-top: 10;
	padding-left: 5;
	width: 30%;
}